body, html
{
  height: 100%;
  width: 100%;
}
.bg-image
{
  background-image: url("../IMG/Pinas.jpg");
  
  filter: blur(6px);
  
  height: 100%; 
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}